:root {
  --background: #222222;
  --text-color: #f8f8f8;
  --line-color: #666666;
  --hint-color: #aaaaaa;
  --element-background: #474747;
  --hover-background: #525252;
}

body {
  font-size: 16px;
  background: var(--background);
  color: var(--text-color);
}

canvas {
  border: 1px solid var(--line-color);
}

.drag {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -173.4px;
}

.controls {
  position: fixed;
  top: 20px;
  right: 25px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--line-color);
  min-width: 160px;
  background: #222222aa;
}

.controls label {
  color: var(--text-color);
  text-transform: uppercase;
  opacity: .5;
  margin-bottom: 6px;
}

.controls button,
.controls select {
  margin-bottom: 6px;
  width: 120px;
  font-size: 14px;
  outline: none;
  background: var(--element-background);
  color: var(--text-color);
  border: none;
  text-transform: uppercase;
  opacity: .7;
}

.spacer {
  height: 40px;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -65px;
  margin-left: -255px;
  text-align: center;
}

button:hover {
  background: var(--hover-background);
}

button:active {
  background: var(--hover-background);
}
